{% extends "../../project_toolbox_main/templates/base.html" %}

{% load guardian_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load timepiece_tags bootstrap_toolkit %}

{% block extracss %}
<link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
{% endblock extracss %}

{% block title %}IT Ticket Workflow: {{ object.form_id }}{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span><a href="{% url 'list_open_it_tickets' %}">Open IT Support Tickets</a>
        <span class="divider">/</span><a href="">{{ object.form_id }}</a>
    </li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ object.form_id }}</h2>
            <div>
                <a class="btn" href="{% url 'list_open_it_tickets' %}">Back to List</a>
                {% if perms.workflow.change_itticket or object.submitter == request.user or object.created_by == request.user %}
                    {% if object.status.terminal %}
                        {% for reopen_action in object.reopen_actions %}
                            <a class="btn {{ reopen_action.button_type }}" href="{% url 'transition_it_ticket' object.pk %}?transition_id={{ reopen_action.id }}">{{ reopen_action.name }}</a>`
                        {% endfor %}
                    {% else %}
                        <a class="btn btn-primary" href='{% url "edit_it_ticket" object.pk %}'>Edit</a>
                    {% endif %}
                {% endif %}
                {% if perms.workflow.change_itticket %}
                    <a class="btn btn-primary" href='{% url "admin_edit_it_ticket" object.pk %}'>Admin Edit</a>
                {% endif %}
                {% if not object.status.terminal and perms.workflow.assign_it_ticket %}
                    <a class="btn btn-primary" href='{% url "assign_it_ticket" object.pk %}'>Assign</a>
                {% endif %}
                {% if request.user in object.users.all %}
                    {% if clocked_in %}
                        <a class="btn btn-inverse" href='{% url "clock_out_it_ticket" object.pk %}'>Clock-Out</a>
                        <a class="btn btn-inverse" href='{% url "clock_in" %}'>Switch Time</a>
                    {% else %}
                        <a class="btn btn-success" href='{% url "clock_in_it_ticket" object.pk %}'>Clock-In</a>
                    {% endif %}
                {% endif %}
                {% for next_action in object.next_actions %}
                    {% if next_action.permissions == 'all' %}
                        <a class="btn {{ next_action.button_type }}" href="{% url 'transition_it_ticket' object.pk %}?transition_id={{ next_action.id }}">{{ next_action.name }}</a>
                    {% elif next_action.permissions == 'guardian' %}
                        {% get_obj_perms request.user for next_action as "na_perms" %}
                        {% if 'can_execute_transition' in na_perms %}
                            <a class="btn {{ next_action.button_type }}" href="{% url 'transition_it_ticket' object.pk %}?transition_id={{ next_action.id }}">{{ next_action.name }}</a>
                        {% endif %}
                    {% elif next_action.permissions == 'creator' %}
                      {% if object.submitter == request.user or object.created_by == request.user %}
                        <a class="btn {{ next_action.button_type }}" href="{% url 'transition_it_ticket' object.pk %}?transition_id={{ next_action.id }}">{{ next_action.name }}</a>
                      {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="offset1 span5">
            <h3>Details</h3>
            <dl class="dl-horizontal">
                <dt>Ticket ID:</dt><dd>{{ object.form_id }}</dd>
                <dt>Current Status:</dt><dd>{{ object.status }}</dd>
                <dt>Submit Time:</dt><dd>{{ object.created_at }}</dd>
                <dt>Submitter:</dt><dd>{{ object.submitter }}</dd>
                <dt>Creator:</dt><dd>{{ object.created_by }}</dd>
                <dt>Assigned to:</dt><dd>{{ object.assignee }} </dd>
                <dt>Description:</dt><dd>{{ object.description|linebreaks }}</dd>
                <dt>Requested Response Date:</dt><dd>{{ object.requested_date }}</dd>
                <dt>Scheduled:</dt><dd>{{ object.scheduled|date }}</dd>
                <dt>Effort:</dt><dd>{{ object.effort }} hours</dd>
                <dt>Response:</dt><dd>{% if object.response %}{{ object.response|linebreaks }}{% else %}(TBD){% endif %}</dd>
                {% if object.mgmt_approver %}
                <dt>Management Approval:</dt><dd>{{ object.mgmt_approver }} at {{ object.mgmt_approval_data }}</dd>
                {% else %}
                <dt>Management Approval:</dt><dd>N/A</dd>
                {% endif %}
            </dl>

            <div id="ticket-history" style="margin-top:12px;">
            <div class="accordion" id="accordion2">
            
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Total Hours Spent: {{ object.get_total_hours }} hours</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">      
                    {% for entry in object.entries.all %}
                        <blockquote>
                            <p>{{ entry.user }}: {{ entry.start_time|date }}, {{ entry.hours }} hours</p>
                            <small>{{ entry.comments }}</small>
                        </blockquote>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Ticket History Summary</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">      
                    {% for th in ticket_history %}
                        <blockquote>
                            <p>Moved ticket to {{ th.status.name }}.</p>
                            <small>{{ th.last_user }} @ {{ th.last_activity }}</small>
                        </blockquote>
                    {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Ticket History Details</a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">      
                    {% for th in ticket_history %}
                    <dl class="dl-horizontal">
                        <dt>Update Time:</dt><dd>{{ th.last_activity }}</dd>
                        <dt>Ticket ID:</dt><dd>{{ th.form_id }}</dd>
                        <dt>Status:</dt><dd>{{ th.status }}</dd>
                        <dt>Submit Time:</dt><dd>{{ th.created_at }}</dd>
                        <dt>Submitter:</dt><dd>{{ th.submitter }}</dd>
                        <dt>Creator:</dt><dd>{{ th.created_by }}</dd>
                        <dt>Assigned to:</dt><dd>{{ th.assignee }}</dd>
                        <dt>Description:</dt><dd>{{ th.description|linebreaks }}</dd>
                        <dt>Requested Response Date:</dt><dd>{{ th.requested_date }}</dd>
                        <dt>Response:</dt><dd>{% if th.response %}{{ th.response|linebreaks }}{% else %}(TBD){% endif %}</dd>
                        {% if th.mgmt_approver %}
                        <dt>Management Approval:</dt><dd>{{ th.mgmt_approver }} at {{ th.mgmt_approval_date }}</dd>
                        {% else %}
                        <dt>Management Approval:</dt><dd>N/A</dd>
                        {% endif %}
                    </dl>
                    {% endfor %}
                    </div>
                </div>
            </div>
            </div>
            </div>

        </div>
        {% url 'view_it_ticket' object.id as next_url %}
        <div class="span3">
            <h3>Notes</h3>
            <form class="form-inline" action="{% url 'add_it_ticket_note' object.id %}?next={{ next_url }}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ add_it_ticket_note_form|as_bootstrap }}
                <input class="btn btn-primary" type="submit" value="Add" />
            </form>
            <ul>
                {% for note in object.get_notes %}
                <li><strong>{{ note.author }} @ {{ note.last_edited }}</strong><br/>{{ note.text|linebreaks }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="span3">
            <h3>Tags</h3>
            <div><a href="{% url 'it_ticket_metadata_tags' object.id %}" target="_blank">Add Metadata Tags</a></div>
            <div id="tags">
            {% if object.tags.all|length %}
            {% for tag in object.tags.all %}
            <span class="label label-info">
                <a href="{% url 'similar_items' tag.id %}"> <i class="icon-magnet icon-white icon-small"> </i></a>
                {{ tag }}
                {% if is_it_admin or request.user.is_superuser %}
                <a class="remove_tag"> <i class="icon-remove icon-white icon-small"> </i></a>
                {% endif %}
            </span>
            {% endfor %}
            {% else %}
            <br/><em>There are no tags for this ticket yet.</em>
            {% endif %}
            </div>
            <form id="add_tag_form">
                <div style="margin-top: 12px;">
                    <input id="new_tag" type="text" />
                    <input id="add_tag_button" class="btn btn-primary" type="submit" value="Add" />
                </div>
            </form>

            <h3>Attachments</h3>
            <div id="file-uploader" name="File" class="controls">
              <noscript>          
                <p>Please enable JavaScript to use file uploader.</p>
              </noscript>
              <p class="help-block">Drag and drop a file (PDF) of the memo here.</p>
            </div>
            {% for attachment in object.get_attachments %}
            <blockquote>
            <p><a href="{% url 'download_it_ticket_attachment' attachment.file_id %}" target="_blank">{{ attachment.filename }}</a></p>
            <small>{{ attachment.uploader }} @ {{ attachment.upload_utc }}</small>
            </blockquote>
            {% endfor %}

            {% url 'view_it_ticket' object.id as next_url %}
            <h3>Users</h3>
            <ul class="users">
                {% for user in object.users.all %}
                    <li>
                        {{ user.get_name_or_username }}
                        {% if perms.workflow.change_itticket %}
                            {% with caption="Remove "|add:user.get_name_or_username|add:" from "|add:object.form_id %}
                                <a title="{{ caption }}" href="{% url 'it_ticket_remove_user' object.id user.id%}?next={{ next_url|add_parameters:request.GET|urlencode }}"><i alt="{{ caption }}" class="icon-remove"></i></a>
                            {% endwith %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if perms.workflow.change_itticket %}
                <form class="form-inline" action="{% url 'it_ticket_add_user' object.id %}?next={{ next_url|add_parameters:request.GET|urlencode }}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ add_user_form|as_bootstrap:"inline" }}
                    <input class="btn" type="submit" value="Add" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
<script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
<script src="{{ STATIC_URL }}project-toolbox/js/tags.js" ></script>
<script>
        ATTACHMENTS = {};
        $(function(){
        var uploader = new qq.FileUploader({
            action: "{% url 'add_it_ticket_attachment' object.id %}",
            element: $('#file-uploader')[0],
            multiple: true,
            onComplete: function(id, filename, responseJSON) {
                if(responseJSON.success) {
                    ATTACHMENTS[id] = {'id': id,
                                       'filename': filename,
                                       'json': responseJSON};
                } else {
                    console.log('fail', id, filename, responseJSON);
                }
            },
            onAllComplete: function(uploads) {
                // uploads is an array of maps
                // the maps look like this: {file: FileObject, response: JSONServerResponse}
                // do nothing
            },
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
            },
        });
        });

    $(document).ready(
        function () {
            create_remove_tag_handler("{% url 'remove_it_ticket_tag' object.id %}");
            create_add_tag_handler("{% url 'it_ticket_tags' object.id %}");
        }
    );
</script>
{% endblock extrajs %}
