{% extends "../../project_toolbox_main/templates/base.html" %}

{% load guardian_tags %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block title %}{{ object.form_id }}{% endblock title %}

{% block extracss %}
<link href="{{ STATIC_URL }}s3.jquery.fine-uploader/fine-uploader-new.min.css" rel="stylesheet" type="text/css" />
{% endblock extracss %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span><a href="{% url 'list_open_rfes' %}">SRs</a>
        <span class="divider">/</span><a href="">{{ object.form_id }}</a>
    </li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ object.form_id }}</h2>
            <div>
                <a class="btn" href="{% url 'list_open_rfes' %}">Back to List</a>
                {% if perms.workflow.edit_firmbaseticket or object.submitter == request.user or object.created_by == request.user %}
                    {% if not object.status.terminal %}
                    <a class="btn btn-primary" href='{% url "edit_rfe" object.pk %}'>Edit</a>
                    {% endif %}
                {% endif %}
                {% if not object.status.terminal and perms.workflow.assign_rfe %}
                    <a class="btn btn-primary" href='{% url "assign_rfe" object.pk %}'>Assign</a>
                {% endif %}
                {% for next_action in object.next_actions %}
                    {% if next_action.permissions == 'all' %}
                        <a class="btn {{ next_action.button_type }}" href="{% url 'transition_rfe' object.pk %}?transition_id={{ next_action.id }}">{{ next_action.name }}</a>
                    {% elif next_action.permissions == 'guardian' %}
                        {% get_obj_perms request.user for next_action as "na_perms" %}
                        {% if 'can_execute_transition' in na_perms %}
                            <a class="btn {{ next_action.button_type }}" href="{% url 'transition_rfe' object.pk %}?transition_id={{ next_action.id }}">{{ next_action.name }}</a>
                        {% endif %}
                    {% elif next_action.permissions == 'creator' %}
                      {% if object.submitter == request.user or object.created_by == request.user %}
                        <a class="btn {{ next_action.button_type }}" href="{% url 'transition_rfe' object.pk %}?transition_id={{ next_action.id }}">{{ next_action.name }}</a>
                      {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span5">
            <h3>Current Ticket Details</h3>
            <table class="table table-condensed table-hover table-bordered">
                <tr><th>Service Request ID</th><td>{{ object.form_id }}</td></tr>
                <tr><th>Status</th><td>{{ object.status }}</td></tr>
                <tr><th>Submit Time</th><td>{{ object.created_at }}</td></tr>
                <tr><th>Submitter</th><td>{{ object.submitter }}</td></tr>
                <tr><th>Creator</th><td>{{ object.created_by }}</td></tr>
                <tr><th>Last Edited By</th><td>{{ object.last_user }}</td></tr>
                <tr><th>Last Activity</th><td>{{ object.last_activity }}</td></tr>
                <tr><th>Contact</th><td>{{ object.contact_name }}, {{ object.contact_phone }}, <a href="mailto:{{ object.email }}">{{ object.email }}</a></td></tr>
                <tr><th>Assigned To</th><td>{{ object.assignee }}</td></tr>
                <tr><th>A/C Status</th><td>{{ object.ac_status }}</td></tr>
                <tr><th>A/C Location</th><td>{{ object.ac_location }}</td></tr>
                <tr><th>A/C Manufacturer</th><td>{{ object.ac_manufacturer }}</td></tr>
                <tr><th>A/C Model</th><td>{{ object.ac_model }}</td></tr>
                <tr><th>A/C Serial Number</th><td>{{ object.ac_serial_number }}</td></tr>
                <tr><th>A/C Registration Number</th><td>{{ object.ac_registration_number }}</td></tr>
                <tr><th>A/C Tail Number</th><td>{{ object.ac_tail_number }}</td></tr>
                <tr><th>A/C Flight Time</th><td>{{ object.ac_flight_time }}</td></tr>
                <tr><th>A/C Cycles</th><td>{{ object.ac_cycles }}</td></tr>
                <tr><th>Description</th><td>{{ object.description|linebreaks }}</td></tr>
                <tr><th>Requested Action</th><td>{{ object.requested_action|linebreaks }}</td></tr>
                <tr><th>Response Required By</th><td>{{ object.response_required_by }}</td></tr>
                <tr><th>Disposition</th><td>{{ object.disposition|linebreaks }}</td></tr>
            </table>

            <div id="ticket-history" style="margin-top:12px;">
            <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Ticket History Summary</a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">      
                    {% for th in ticket_history %}
                        <blockquote>
                            <p>Moved ticket to {{ th.status.name }}.</p>
                            <small>{{ th.last_user }} @ {{ th.last_activity }}</small>
                        </blockquote>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Ticket History Details</a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">      
                    {% for th in ticket_history %}
                    <dl class="dl-horizontal">
                        <dt>Update Time:</dt><dd>{{ th.last_activity }}</dd>
                        <dt>Ticket ID:</dt><dd>{{ th.form_id }}</dd>
                        <dt>Status:</dt><dd>{{ th.status }}</dd>
                        <dt>Submit Time:</dt><dd>{{ th.created_at }}</dd>
                        <dt>Submitter:</dt><dd>{{ th.submitter }}</dd>
                        <dt>Creator:</dt><dd>{{ th.created_by }}</dd>
                        <dt>Assigned to:</dt><dd>{{ th.assignee }}</dd>
                        <dt>Description:</dt><dd>{{ th.description|linebreaks }}</dd>
                        <dt>Requested Response Date:</dt><dd>{{ th.requested_date }}</dd>
                        <dt>Response:</dt><dd>{% if th.disposition %}{{ th.disposition|linebreaks }}{% else %}(TBD){% endif %}</dd>
                    </dl>
                    {% endfor %}
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        {% url 'view_rfe' object.id as next_url %}
        <div class="span3">
            <h3>Notes</h3>
            <form class="form-inline" action="{% url 'add_rfe_note' object.id %}?next={{ next_url }}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ add_rfe_note_form|as_bootstrap }}
                <input class="btn btn-primary" type="submit" value="Add" />
            </form>
            {% if object.get_notes|length %}
            <ul>
                {% for note in object.get_notes %}
                <li><strong>{{ note.author }} @ {{ note.last_edited }}</strong><br/>{{ note.text|linebreaks }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <em>There are currently no notes for this ticket.</em>
            {% endif %}
            
        </div>
        <div id="attachment-list" class="span3">
            <h3>Attachments</h3>
            <div id="fine-uploader">
              <noscript>          
                <p>Please enable JavaScript to use file uploader.</p>
              </noscript>
            </div>
            <small>Drag and drop a file above to attach it.</small>
            {% if object.get_attachments|length %}
            {% for attachment in object.get_attachments %}
            <blockquote>
            <p><a href="{% url 'download_rfe_attachment' object.id attachment.id %}" target="_blank">Ref. [{{ forloop.counter }}] {{ attachment.filename }}</a></p>
            <small>{{ attachment.uploader }} ({{ attachment.uploader.profile.business.short_name }}) @ {{ attachment.upload_datetime }}</small>
            </blockquote>
            {% endfor %}
            {% else %}
            <br/><span id="no-attachments"><em>There are no attachments for this ticket yet.</em></span>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
<script src="{{ STATIC_URL }}s3.jquery.fine-uploader/s3.jquery.fine-uploader.min.js" ></script>
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button class="qq-cancel-button-selector">No</button>
                <button class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button class="qq-cancel-button-selector">Cancel</button>
                <button class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<script>
ATTACHMENT_COUNT = {% if object %}{{ object.get_attachments|length }}{% elif attachments %}{{ attachments|length }}{% else %}0{% endif %};
var uploader = new qq.s3.FineUploader({
    debug: true,
    element: document.getElementById('fine-uploader'),
    request: {
        endpoint: 'https://{{ AWS_UPLOAD_BUCKET_NAME }}.s3.amazonaws.com',
        accessKey: '{{ AWS_CLIENT_ACCESS_KEY }}',
        params: {
            'user': '{{ request.user }}',
            'username': '{{ request.user.username }}',
            'firmbase-userid': '{{ request.user.id }}',
            'user-email': '{{ request.user.email }}'
        }
    },
    objectProperties: {
        serverSideEncryption: true
    },
    signature: {
        endpoint: '{% url "ajaxuploader:s3_signature" %}'
    },
    uploadSuccess: {
        endpoint: "{% url 'add_rfe_attachment' object.id %}",
    },
    iframeSupport: {
        localBlankPagePath: '/success.html'
    },
    deleteFile: {
        enabled: true,
        endpoint: '{% url "ajaxuploader:s3_delete" %}'
    },
    callbacks: {
        onUpload: function (id, name) {
            console.log('onUpload', id, name);
        },
        onSubmitted: function (id, name) {
            console.log('onSubmitted', id, name);
        },
        onDeleteComplete: function (id, xhr, isError) {
            var regex = new RegExp("[\\?&]key=([^&#]*)");
            var delete_url = xhr['responseURL'];
            var results = regex.exec(delete_url);
            var uuid = results[1];
            $('#att-' + id).remove();
            $.ajax('/workflow/rfe/{{ object.id }}/attachment/' + uuid + '/delete');
        },
        onComplete: function (id, name, response, xhr) {
            if(response.success) {
                ATTACHMENT_COUNT += 1;
                html = '<blockquote id="att-' + id + '">' +
                           '<p>Ref. [' + ATTACHMENT_COUNT + '] ' + name + '</p>' +
                           '<small>{{ user }} ({{ user.profile.business.short_name }}) @ now</small>' +
                        '</blockquote>';
                $('#attachment-list').append(html);
                $("#no-attachments").remove();
            } else {
                console.log('fail', id, name, response);
            }
        }
    }
});
</script>
{% endblock extrajs %}
