{% extends "metabase.html" %}
{% load url from future %}

{% block title %}FirmBase {{ general_task.form_id }} Metadata Tags{% endblock title %}

{% block navbar %}
    {% include "nav.html" %}
{% endblock navbar %}

{% block basecontent %}
<div id="content" class="container-fluid">
    <div id="messages"></div>
    <form id="metadata_form" class="form-horizontal">
        {% csrf_token %}
        <legend>Select Metadata Tags for {{ general_task.form_id}}</legend>
        <div class="control-group">
            <label class="control-label" for="level1">Main Category</label>
            <div class="controls">
                <select id="level1" name="level1" class="input-xlarge">
                    <option value=''>---</option>
                    <option value='Business Development'>Business Development</option>
                    <option value='Finance and Accounting'>Finance and Accounting</option>
                    <option value='HR'>Human Resources</option>
                    <option value='Office Administration'>Office Administration</option>
                    <option value='Operations'>Operations</option>
                    <option value='task-other'>Other</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="level2">AAC or Client?</label>
            <div class="controls">
                <select id="level2" name="level2" class="input-xlarge">
                    <option value=''>---</option>
                    <option value='aac'>AAC</option>
                    <option value='client'>Client</option>
                </select>
            </div>
        </div>
        <div id="submit-button-container" class="control-group">
            <label class="control-label" for="submit-button"></label>
            <div class="controls">
                <input type="submit" value="Save" id="submit-button" name="submit-button" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
{% endblock basecontent %}

{% block extrajs %}
<script>
function set_level3_options() {
    var level1 = $('#level1').val()
    var level2 = $('#level2').val()

    var biz_options = '';
    if ($('#level2').val()=='client') {
        if ($('#client-choice').length==0) {
            $.getJSON('{% url "get_business_list" %}',
                function (data) {
                    $.each(data, function(i, val) {
                        biz_options += '<option value="' + val.short_name + '">' + val.short_name + ' (' + val.name + ')</option>';
                    });
                    var html = '<div id="client-choice" class="control-group">' +
                                   '<label class="control-label" for="client">Client</label>' +
                                   '<div class="controls">' +
                                       '<select id="client" name="client" class="input-xlarge">' +
                                           '<option value="">---</option>' +
                                           biz_options +
                                        '</select>' +
                                    '</div>' +
                                '</div>';
                    $(html).insertBefore('#submit-button-container');
                    //$('#metadata_form').append(html);
                }
            );
        }
    } else {
        $('#client-choice').remove();
    }

    var l3options = '';
    if ($('#level1').val() == 'it-other') {
        $('#level3cont').remove();
        if ($('#level2').val() == 'aac') {
            $('#client-choice').remove();
        }
        var html = '<div id="level3cont" class="control-group">' +
                       '<label class="control-label" for="controls">Tag</label>' +
                       '<div class="controls">' +
                           '<input id="other" type="text" name="other" class="input-xlarge" placeholder="(enter Other)" />' +
                        '</div>' +
                    '</div>';
        $(html).insertBefore('#submit-button-container');
    } else if ($('#level1').val() == 'Business Development') {
        $('#level3cont').remove();
        l3options = '<option value="Customer Relations">Customer Relations</option>' +
                    '<option value="FirmBase (non-IT)">FirmBase (non-IT)</option>' +
                    '<option value="Marketing">Marketing</option>' +
                    '<option value="Sales">Sales</option>' +
                    '<option value="Vendor Relations">Vendor Relations</option>' +
                    '<option value="Website">Website</option>' +
                    '<option value="other">Other</option>';
        var html = '<div id="level3cont" class="control-group">' +
                       '<label class="control-label" for="level3">Sub-Category</label>' +
                       '<div class="controls">' +
                           '<select id="level3" name="level3" class="input-xlarge">' +
                               '<option value="">---</option>' +
                               l3options +
                            '</select>' +
                            '<input id="other" type="text" name="other" class="input-xlarge" placeholder="(enter Sub-Category if Other)" />' +
                        '</div>' +
                    '</div>';
        $(html).insertBefore('#submit-button-container');
        //$('#metadata_form').append(html);
    } else if ($('#level1').val() == 'Finance and Accounting') {
        $('#level3cont').remove();
        l3options = '<option value="Accounts Payable">Accounts Payable</option>' +
                    '<option value="Accounts Receivable">Accounts Receivable</option>' +
                    '<option value="Bookkeeping">Bookkeeping</option>' +
                    '<option value="Financial Reporting">Financial Reporting</option>' +
                    '<option value="Fixed Asset Management">Fixed Asset Management</option>' +
                    '<option value="Payroll">Payroll</option>' +
                    '<option value="Tax Compliance">Tax Compliance</option>' +
                    '<option value="other">Other</option>';
        var html = '<div id="level3cont" class="control-group">' +
                       '<label class="control-label" for="controls">Sub-Category</label>' +
                       '<div class="controls">' +
                           '<select id="level3" name="level3" class="input-xlarge">' +
                               '<option value="">---</option>' +
                               l3options +
                            '</select>' +
                            '<input id="other" type="text" name="other" class="input-xlarge" placeholder="(enter Sub-Category if Other)" />' +
                        '</div>' +
                    '</div>';
        $(html).insertBefore('#submit-button-container');
        //$('#metadata_form').append(html);
    } else if ($('#level1').val() == 'Human Resources') {
        $('#level3cont').remove();
        l3options = '<option value="Recruitment">Recruitment</option>' +
                    '<option value="Policies and Forms">Policies and Forms</option>' +
                    '<option value="Personnel Records">Personnel Records</option>' +
                    '<option value="HR Training">HR Training</option>' +
                    '<option value="Contracts (HR)">Contracts (HR)</option>' +
                    '<option value="Benefits">Benefits</option>' +
                    '<option value="other">Other</option>';
        var html = '<div id="level3cont" class="control-group">' +
                       '<label class="control-label" for="controls">Sub-Category</label>' +
                       '<div class="controls">' +
                           '<select id="level3" name="level3" class="input-xlarge">' +
                               '<option value="">---</option>' +
                               l3options +
                            '</select>' +
                            '<input id="other" type="text" name="other" class="input-xlarge" placeholder="(enter Sub-Category if Other)" />' +
                        '</div>' +
                    '</div>';
        $(html).insertBefore('#submit-button-container');
        //$('#metadata_form').append(html);
    } else if ($('#level1').val() == 'Office Administration') {
        $('#level3cont').remove();
        l3options = '<option value="Facilities">Facilities</option>' +
                    '<option value="Filing and Organization">Filing and Organization</option>' +
                    '<option value="Hospitality">Hospitality</option>' +
                    '<option value="Phone (non-IT)">Phone (non-IT)</option>' +
                    '<option value="other">Other</option>';
        var html = '<div id="level3cont" class="control-group">' +
                       '<label class="control-label" for="controls">Sub-Category</label>' +
                       '<div class="controls">' +
                           '<select id="level3" name="level3" class="input-xlarge">' +
                               '<option value="">---</option>' +
                               l3options +
                            '</select>' +
                            '<input id="other" type="text" name="other" class="input-xlarge" placeholder="(enter Sub-Category if Other)" />' +
                        '</div>' +
                    '</div>';
        $(html).insertBefore('#submit-button-container');
        //$('#metadata_form').append(html);
    } else if ($('#level1').val() == 'Operations') {
        $('#level3cont').remove();
        l3options = '<option value="Project Planning">Project Planning</option>' +
                    '<option value="Operations Reporting">Operations Reporting</option>' +
                    '<option value="Contracts (Client and Vendor)">Contracts (Client and Vendor)</option>' +
                    '<option value="other">Other</option>';
        var html = '<div id="level3cont" class="control-group">' +
                       '<label class="control-label" for="controls">Sub-Category</label>' +
                       '<div class="controls">' +
                           '<select id="level3" name="level3" class="input-xlarge">' +
                               '<option value="">---</option>' +
                               l3options +
                            '</select>' +
                            '<input id="other" type="text" name="other" class="input-xlarge" placeholder="(enter Sub-Category if Other)" />' +
                        '</div>' +
                    '</div>';
        $(html).insertBefore('#submit-button-container');
        //$('#metadata_form').append(html);
    }
    
}

function save_metadata_tags() {
    $('#messages').empty();
    var level1, level2, level3, client, other;
    level1 = $('#level1').val();
    level2 = $('#level2').val();
    level3 = $('#level3').val();
    client = $('#client').val();
    other = $('#other').val();
    if (level1.length==0){
        $('#messages').append('<div class="alert alert-danger">Select a main Category.</div>')
        return;
    }

    if (level2.length==0){
        $('#messages').append('<div class="alert alert-danger">Select AAC or Client.</div>')
        return;
    }
    
    var tags = level1 + ',';
    if (level2.trim()!='client') {
        tags += level2 + ',';
    }
    
    if ($('#client').length) {
        if (client.trim().length>0) {
            tags += client.trim() + ',';
        } else {
            $('#messages').append('<div class="alert alert-danger">Select a Client tag.</div>')
            return;
        }
    }
    
    if ($('#level3').length) {
        if (level3.trim().length>0) {
            if (level3.trim()!='other'){
                tags += level3.trim() + ',';
            }
        } else {
            if (level1=='Business Development') {
                $('#messages').append('<div class="alert alert-danger">Select a Business Development Sub-Category.</div>')
            } else if (level1=='Finance and Accounting'){
                $('#messages').append('<div class="alert alert-danger">Select a Finance and Accounting Sub-Category.</div>')
            } else if (level1=='Human Resources') {
                $('#messages').append('<div class="alert alert-danger">Select a Human Resources Sub-Category.</div>')
            } else if (level1=='Office Administration') {
                $('#messages').append('<div class="alert alert-danger">Select a Office Administration Sub-Category.</div>')
            } else if (level1=='Operations') {
                $('#messages').append('<div class="alert alert-danger">Select an Operations Sub-Category.</div>')
            }
            return;
        }

        if (level3 == 'other') {
            if (other.trim().length>0) {
                tags += other.trim();
            } else {
                $('#messages').append('<div class="alert alert-danger">Provide an "Other".</div>')
                return;
            }
        }
    } else if ($('#other').length) {
        if (other.trim().length>0) {
            tags += other.trim();
        } else {
            $('#messages').append('<div class="alert alert-danger">Provide an "Other".</div>')
            return;
        }
    }

    $('#messages').append('<div class="alert alert-success">Saving...</div>')
    var data = {'tag': tags,
                'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()}
    var url = "{% url 'general_task_tags' general_task.id %}";
    $.post(url, data,
        function (data) {
            window.opener.location.reload(false);
            window.close();
        }
    );
}

$('#level1').change(set_level3_options);
$('#level2').change(set_level3_options);
$('#metadata_form').submit(
    function (e) {
        e.preventDefault();
        save_metadata_tags();
    }
);
</script>
{% endblock extrajs %}